* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
}
main {
  background: #EDEEF3;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 79px 0 50px 0;
 
}
form > input {
  width: 820px;
  padding: 22px 0 22px 32px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 21px;
  color: #abb5be;
  background: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.search {
 position: relative;
 bottom:120px;
  
  background: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

li {
  list-style-type: none;
}
.container {
  padding: 0, 226px, 0 226px;
}
.hWraper {
  padding: 68px 0 140px 0;
  text-align: center;
  background: linear-gradient(92.33deg, #087990 0.12%, #055160 100%);
  border: 1px solid #ced4da;
}
.hWraper > h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 87px;
  color: #cff4fc;
}
.hWraper__text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 36px;
  color: #cff4fc;
}
.list__wraper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 19px;
}

.list__item {
  width: 316px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: #ffffff;
}
.list__name {
  text-decoration: underline;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 17px;
  line-height: 28px;
  text-decoration-line: underline;
  color: #000000;
  font-style: normal;
  margin: 18px 0 12px 0;
}
.list__text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #3f444a;
}
.list__unicode {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  color: #68717a;
}
footer > p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #6c757d;
}
footer {
  padding: 17px 0 13px 0;
  background: #EDEEF3;
}

.made::before {
  position: relative;
  bottom: 13px;
  content: '';
  margin: 0 auto;
  display: block;
  width: 986px;
  height: 1px;
  background:#CED4DA;
}
